<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/resetcss.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/layout.css">
    <style>
        .HeadMember {
            margin: 50px;
        }

        .HeadMember img {
            width: 80px;
            padding: 10px;
            margin-top: 10px;
        }

        .HeadMember a {
            text-decoration: none;
            color: black;
        }

        .HeadMember li {
            text-align: center;
        }

        .Member li {
            border: 1px solid black;
            border-radius: 50px;
            padding: 15px;
            margin-top: 2px;
        }

        .Member {
            display: none;
            height: 3px;
        }

        .HeadMember:hover .Member {
            display: block;
        }

        .desing {
            width: 800px;
            height: 400px;
        }

        .desing a {
            text-decoration: none;
            font-size: 36px;
            padding: 10px;
            line-height: 80px;
            text-align: center;
            color: black;
            border: 1px solid black;
            border-radius: 50px;
        }

        .desing a:hover {
            color: #9b9b9b;
        }

        .desing span {
            font-size: 30px;
            line-height: 50px;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/layout.css">
</head>

<body>
    <%- include("./layout/header.ejs") %>
        <div class="content">
            <div class="Register">
                <div class="desing">
                    <h1>更改資料</h1>
                    <form action="" id="form">
                        <p><input type="password" name="password" id="password" placeholder="密碼"></p>
                        <p><input type="password" placeholder="再次確認密碼"></p>
                        <p><input type="text" name="full_name" id="full_name" placeholder="真實姓名"></p>
                        <p><input type="text" name="nickname" id="nickname" placeholder="暱稱"></p>
                        <p><input type="text" name="email" id="email" placeholder="信箱"></p>
                        <button type="button" id="submit">更改資料</button>
                    </form>

                </div>
            </div>
        </div>
        <%- include("./layout/footer.ejs") %>
            <script src="./js/slide.js"></script>
            <script src="./js/jquery-3.4.1.js"></script>
            <script>
                    $('#submit').on('click', function () {
                        if ($("#password").val() == "") {
                            alert("你尚未填寫密碼");
                        } else if ($("#full_name").val() == "") {
                            alert("你尚未填寫姓名");
                        } else if ($("#nickname").val() == "") {
                            alert("你尚未填寫暱稱");
                        } else if ($("#email").val() == "") {
                            alert("你尚未填寫信箱");
                        } else {
                            var data = $('#form').serializeArray()
                            JSONData = serializeToJSON(data)
                            console.log(JSONData)

                            $.ajax({
                                url: "/altermemberdata",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                data: JSONData,
                                success: function (res) {
                                    var res = JSON.parse(res)
                                    if (res.errno === 1) {
                                        alert("更改成功!")
                                        location.href = "/logout"
                                    } else if (res.errno === 0) {
                                        alert("更改失敗!")
                                    }
                                },
                                errno: function () {
                                    alert("系統錯誤!")
                                }
                            })

                        }


                        function serializeToJSON(data) {
                            var values = {};
                            for (index in data) {
                                values[data[index].name] = data[index].value;
                            }
                            return JSON.stringify(values)
                        }
                    
                })
            </script>
</body>

</html>