<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/resetcss.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/layout.css">
    <style>
        .HeadMember {
            margin: 50px;
        }

        .HeadMember img {
            width: 80px;
            padding: 10px;
            margin-top: 10px;
        }

        .HeadMember a {
            text-decoration: none;
            color: black;
        }

        .HeadMember li {
            text-align: center;
        }
        .Member li {
            border: 1px solid black;
            border-radius: 50px;
            padding: 15px;
            margin-top: 2px;
        }
        .Member{
            display: none;
            height: 3px;
        }
        .HeadMember:hover .Member{
            display: block;
        }
        .desing{
            width: 50%;
            height: auto;
            padding-bottom: 2rem;
        }
       
        .desing span{
            font-size: 30px;
            line-height: 50px;
        }
        
        .desing table {
            margin-left: auto;
            margin-right: auto;
            border-collapse: separate;
            border-spacing: 0;
        }
        .desing table th,.desing table td{
            border: 1px solid black;
            text-align: center;
            padding: 10px;
            
            background-color: #b9b9b9;
        }
        tr:first-child td:first-child{
            border-top-left-radius: 20px;
        }
        tr:last-child td:first-child{
            border-bottom-left-radius: 20px;
        }
        tr:first-child td:last-child{
            border-top-right-radius: 20px;
        }
        tr:last-child td:last-child{
            border-bottom-right-radius: 20px;
        }
        th:first-child{
            width: 800px;
        }
        .desing img{
            width: 200px;
        }

    </style>
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/layout.css">
</head>

<body>
    <%- include("./layout/header.ejs") %>
    <div class="content">
        <div class="Register">
            <div class="desing">
                <h1>追蹤貨品</h1>  
                <br>
                <table class="">
                    <tr>
                        <% for(var i=0; i<tracknum ; i++) { %>
                            <td><img src="<%=img_path[i] %> " alt=""></td>
                        <% } %>
                    </tr>
                    <tr>
                        <% for(var i=0; i<tracknum ; i++) { %>
                            <td><a href=""><%= product_name[i] %> </a></td>
                        <% } %>
                    </tr>
    
                </table>
            </div>
        </div>
    </div>
    <%- include("./layout/footer.ejs") %>
    <script src="./js/slide.js"></script>
</body>

</html>