/* -----這邊為head,footer用------ */
header{
    position: fixed;
    background-color: #e8e8e8;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headUP header{
    top: -90px;
}
.HeadLink{
    display: flex;
    align-items: center;

}
.HeadLink a{
    font-size: 30px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    padding-left: 50px;
    border-width: 2px;
    border-radius: 10px;
    /* transition: 0.5s ; */
}
.HeadLink a:hover{
    color: #404040;
}
.HeadLogin a{
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid ;
    border-radius: 10px;
    background-color: #b9b9b9;
    /* transition: 0.5s ; */
}
.HeadLogin a:hover{
    color: #404040;
    /* border: 2px solid black; */
    background-color: #c9b7b7;
    /* transition: 0.5s ; */
}
header img{
    width: 250px;
    
}
.content{
    padding-top: 91px;
    /* padding-top: 90px; */
}
#blank{
    margin: 0;
    padding: 0;
}
.blank-bootom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer{
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid;
    background-color: #e8e8e8;
    line-height: 2;
    letter-spacing: 3px;
    font-family:Microsoft JhengHei;
}
/* -----以下為註冊頁面用------ */
.Register {      
    text-align: center;
    height: 820px;
}

.desing {
    position: relative;
    margin: auto;
    top: 10%;
    width: 400px;
    height: 500px;
    background-color: #e8e8e8;
    border-radius: 30px;
    border-top: 10px solid #b9b9b9;
}


.desing h1 {
    line-height: 50px;
    font-size: 36px;
}
.desing p{
    line-height: 50px;
}
.desing input{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 30px;
    outline: none;
}
.desing button{
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #b9b9b9;
    transition: 0.4s ;
}
.desing button:hover{
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid #3b3b3b;
    border-radius: 30px;
    background-color: #e8e8e8;
}
/* ------以下為帳戶icon用-------- */
/* .HeadMember {
    margin: 10px;
} */

.HeadMember img {
    width: 80px;
    padding: 10px;
    /* margin-top: 10px; */
    box-sizing: border-box;
}

.HeadMember a {
    text-decoration: none;
    color: black;
}

.HeadMember li {
    text-align: center;
    box-sizing: border-box;
}
.Member li {
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px;
    margin-top: 2px;

}
.Member{
    display: none;
    height: 3px;
}
.HeadMember:hover .Member{
    display: block;
}