<header>
    <div class="HeadLink">
        <div>
            <a href="/"><img src="/img/logo.png" alt="..."></a>
        </div>
        <div>
            <a href="/product"><i class="bi bi-card-list"></i> 商品列表</a>
            <a href="/parity"><i class="bi bi-cart-check"></i> 比價車</a>
            <a href="/forum?type=5&text=1"><i class="bi bi-globe2"></i> 討論區</a>
        </div>
    </div>
    <% if(!session.user) { %>
    <div class="HeadLogin">
        <a href="/login">登入</a>
    </div>
    <% }else { %>
    <div class="HeadMember">
        <ul>
            <li>
                <img src="./img/member.png" alt="">
                <ul class="Member">
                    <li><a href="/member">會員專區</a></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <% } %>
</header>