<div class="blank" id="blank">
    <footer>
        <div style="margin-top: 1rem;">
            <img src="/img/icon/facebook.png" alt="">
            <img src="/img/icon/instagram.png" alt="">
            <img src="/img/icon/twitter.png" alt="">
        </div>
        <p>T e n C l o u d 比 價 網</p>
    </footer>
</div>